[submodule "test/waveforms"]
	path = test/waveforms
	url = https://github.com/jevinskie/digital-waveform-samples
[submodule "libsurf/3rdparty/fmt"]
	path = libsurf/3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libsurf/3rdparty/argparse"]
	path = libsurf/3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "libsurf/3rdparty/thread-pool"]
	path = libsurf/3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "libsurf/3rdparty/fpng"]
	path = libsurf/3rdparty/fpng
	url = https://github.com/richgel999/fpng
[submodule "libsurf/3rdparty/lexy"]
	path = libsurf/3rdparty/lexy
	url = https://github.com/foonathan/lexy
[submodule "libsurf/3rdparty/backward-cpp"]
	path = libsurf/3rdparty/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "libsurf/3rdparty/magic_enum"]
	path = libsurf/3rdparty/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "libsurf/3rdparty/visit"]
	path = libsurf/3rdparty/visit
	url = https://github.com/jevinskie/visit
[submodule "libsurf/3rdparty/hedley"]
	path = libsurf/3rdparty/hedley
	url = https://github.com/nemequ/hedley
[submodule "libsurf/3rdparty/tagged_ptr"]
	path = libsurf/3rdparty/tagged_ptr
	url = https://github.com/marzer/tagged_ptr
[submodule "libsurf/3rdparty/Catch2"]
	path = libsurf/3rdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libsurf/3rdparty/libassert"]
	path = libsurf/3rdparty/libassert
	url = https://github.com/jeremy-rifkin/libassert
