# vscode
**/.vscode/

# build folder
**/build/

# clion
**/cmake-build-*/
**/.idea/

# mac
**/.DS_Store

# xcode
**/DerivedData/
**/xcuserdata/
**/*.xcuserstate

# python
**/__pycache__
**/*.egg-info

# jupyter-notebook
**/*.ipynb_checkpoints

# nbdev
.last_checked
.irecovery
