[submodule "test/waveforms"]
	path = test/waveforms
	url = https://github.com/jevinskie/digital-waveform-samples
[submodule "libsurf/3rdparty/fmt"]
	path = libsurf/3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libsurf/3rdparty/argparse"]
	path = libsurf/3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "libsurf/3rdparty/thread-pool"]
	path = libsurf/3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "libsurf/3rdparty/fpng"]
	path = libsurf/3rdparty/fpng
	url = https://github.com/richgel999/fpng
[submodule "libsurf/3rdparty/lexy"]
	path = libsurf/3rdparty/lexy
	url = https://github.com/foonathan/lexy
[submodule "libsurf/3rdparty/backward-cpp"]
	path = libsurf/3rdparty/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "libsurf/3rdparty/magic_enum"]
	path = libsurf/3rdparty/magic_enum
	url = https://github.com/Neargye/magic_enum
