<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>waveform</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Value Change Dump</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.value-change-dump</string>
			</array>
			<key>NSDocumentClass</key>
			<string>WaveformDocument</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Value Change Dump</string>
			<key>UTTypeIconFile</key>
			<string>waveform</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>waveform-plain</string>
				<key>UTTypeIconText</key>
				<string>VCD</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.value-change-dump</string>
			<key>UTTypeReferenceURL</key>
			<string>https://en.wikipedia.org/wiki/Value_change_dump</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vcd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
